body{
    margin: 0;
}
a{
    text-decoration: none;
}
:root{
    --accent-color: #0c7489;
    --hover-color:  #101D42;
    --grey-color:   #CACFD6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}