:root {
    --accent-color: #0c7489;
    --hover-color: #101D42;
    --valide-color: #659157;
    --danger-color: #FE4A49;
    --grey-color: #DEE2FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin-left: 0.5em;
}
h2 {
    margin: 0.25em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
}

nav>a {
    color: white;
    padding: 1em;
    transition: all 1s;
}

nav>a:hover {
    background-color: var(--hover-color);
}

.itemWarper {
    background: white;
    border-radius: 2em;
    padding: 2em;
    box-shadow: 0px 0px 30px 14px rgba(0, 0, 0, 0.17);
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}
#sectionLogin{
    position: relative;
    overflow: hidden;
}
form {
    text-align: center;
}

.entry {
    border: solid black;
    border-width: 0 0 3px 0;
    border-radius: 0;
    background: var(--grey-color);
    transition: all 1s;
}

.entry:valid {
    border-color: var(--valide-color);

}

#svgBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    height: 100%;
    animation-name: waves;
    animation-duration: 60s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes waves {
    0% {transform: translate(-75%,0);}
    50% {transform: translate(-50%,10%);}
    100% {transform: translate(-25%,0);}
}