h1{
    margin-left: 0.25em;
}
.icon {
    height: 100%;
    aspect-ratio: 1/1;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--accent-color);
}

nav>a {
    text-decoration: none;
    color: white;
    padding: 0.5em 1em;
    transition: all 1s;
}

nav>a:hover {
    background-color: var(--hover-color);
}
nav > a:first-child{
    padding: 0.5em;
    height: 1.5em;
}